node_modules/
.expo/
dist/
web-build/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native builds
ios/Pods/
ios/build/
android/app/build/
android/.gradle

# Sentry (contains auth token)
sentry.properties